$clrOrange: #FF7549;
$clrOrangeLight: #ffdacd;
$clrBlue: #233B99;
$clrBlueLight: #3c52a6 ;
$clrGrey: #CDDCEB;
$clrBorder: #DAD9D6;

.container {
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-size: 54px;
}
h2 {
    font-size: 40px;
}
p {
    font-size: 18px;
}

.buttons_m {
    padding: 17px 56px;
    background-color: orangered;
}

.form1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $clrBlue;

    .low_form1 {
        width: 100%;
        height: 133.33px;
        background: $clrGrey;
        border: 2px solid $clrGrey;
        border-radius: 0 0 50% 50% / 0 0 100% 100%;
    }

    .low_form2 {
        width: 100%;
        height: 133.33px;
        background: $clrBlueLight;
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
        border: 2px solid $clrBlueLight;
    }
}
.form2 {
    width: 0;
    height: 0;
    border-top: 266px solid $clrOrange;
    border-left: 300px solid $clrOrangeLight;
}
.form3 {
    width: 0;
    height: 0;
    border-top: 266px solid transparent;
    border-right: 300px solid $clrOrange;
}
.form4 {
    background: $clrBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    .low_form3 {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        background: $clrGrey;
    }
}
.form5 {
    width: 0;
    height: 0;
    border-top: 266px solid $clrBlue;
    border-left: 300px solid $clrGrey;
}
.form6 {
    background: $clrOrange;
    display: flex;
    align-items: flex-end;
    .low_form4 {
        width: 300px;
        height: 100%;
        background: $clrOrangeLight;
        border-top-left-radius: 100%;
    }
}