$clrOrange: #FF7549;
$clrOrangeLight: #ffdacd;
$clrBlue: #233B99;
$clrBlueLight: #3c52a6 ;
$clrGrey: #CDDCEB;
$clrBorder: #DAD9D6;

@font-face {
    font-family: 'Urbanist';
    src: url('../font/Urbanist-Medium.ttf');
}

h1,h2,h3,h4,h5,h6,p {
    font-family: 'Urbanist';
}

h1 {
    line-height: 73px;
}

p {
    line-height: 30px;
}

.container {
    max-width: 1220px;
    margin: auto;
}

section {
    border-bottom: solid 1px #DAD9D6;
    margin-bottom: 250px;
}

.text_title {
    text-transform: uppercase;
    width: 50%;
}

h1 {
    font-size: 54px;
}
h2 {
    font-size: 40px;
    line-height: 58px;
}
h5 {
    font-size: 28px;
}
p {
    font-size: 18px;
}

.buttons_m {
    padding: 18px 56px;
    background-color: $clrOrange;
    font-size: 20px;
    font-family: 'Urbanist';
    text-transform: uppercase;
}


.img_test {
    width: 100%;
}