html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background: #f9f8f5;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, p {
  display: inline-block;
}

*, :after, :before {
  box-sizing: border-box;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-56 {
  margin-top: 56px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-72 {
  margin-top: 72px;
}

.mt-80 {
  margin-top: 80px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-32 {
  margin-right: 32px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-48 {
  margin-right: 48px;
}

.mr-56 {
  margin-right: 56px;
}

.mr-64 {
  margin-right: 64px;
}

.mr-72 {
  margin-right: 72px;
}

.mr-80 {
  margin-right: 80px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-56 {
  margin-bottom: 56px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-72 {
  margin-bottom: 72px;
}

.mb-80 {
  margin-bottom: 80px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-32 {
  margin-left: 32px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-48 {
  margin-left: 48px;
}

.ml-56 {
  margin-left: 56px;
}

.ml-64 {
  margin-left: 64px;
}

.ml-72 {
  margin-left: 72px;
}

.ml-80 {
  margin-left: 80px;
}

@font-face {
  font-family: "Urbanist";
  src: url("../font/Urbanist-Medium.ttf");
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  font-family: "Urbanist";
  cursor: default;
}

.container {
  max-width: 1268px;
  margin: auto;
  padding-right: 24px;
  padding-left: 24px;
}

section {
  border-bottom: solid 1px #dad9d6;
  padding-top: 240px;
  padding-bottom: 240px;
}

.bgg {
  background: #f0efec;
  padding-top: 0;
  padding-bottom: 0;
}

.title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .title_wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}

.text_wrapper {
  text-transform: uppercase;
  width: 50%;
}
@media (max-width: 768px) {
  .text_wrapper {
    width: 100%;
    margin-bottom: 25px;
  }
}
@media (max-width: 576px) {
  .text_wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
  }
}

@media (max-width: 576px) {
  .button_wrapper {
    width: 100%;
  }
}

.color_option {
  color: #ff7549;
}

h1 {
  font-size: 54px;
  line-height: 73px;
  color: #181a3f;
  font-weight: 900;
}
@media (max-width: 768px) {
  h1 {
    font-size: 44px;
  }
}

h2 {
  font-size: 40px;
  line-height: 58px;
  color: #181a3f;
  font-weight: 900;
}

h4 {
  font-size: 32px;
  color: #181a3f;
}

h5 {
  font-size: 28px;
  line-height: 39px;
  color: #181a3f;
}

h6 {
  font-size: 20px;
  color: #181a3f;
}

p {
  font-size: 18px;
  line-height: 30px;
  color: #555671;
}

.q {
  display: flex;
}

.button_one {
  padding: 18px 56px;
  background-color: #ff7549;
  font-size: 20px;
  font-family: "Urbanist";
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  border: 2px solid #ff7549;
  text-align: center;
}
@media (max-width: 576px) {
  .button_one {
    width: 100%;
  }
}

.button_two {
  padding: 18px 56px;
  background-color: transparent;
  font-size: 20px;
  font-family: "Urbanist";
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  border: 2px solid #181a3f;
  text-align: center;
}
@media (max-width: 576px) {
  .button_two {
    width: 100%;
  }
}

.img_test {
  display: inline-block;
}

header {
  height: 120px;
}
header .header_wrapper {
  display: flex;
  justify-content: space-between;
}
header .header_wrapper .left_header {
  padding-top: 2.5%;
}

.title_ {
  padding: 0;
}

.title_section {
  display: flex;
}
@media (max-width: 768px) {
  .title_section {
    position: relative;
  }
}
.title_section .title_container {
  width: 100%;
  display: flex;
}
.title_section .title_container .left_wrapper {
  width: 100%;
  margin-left: 10%;
  margin-top: 235px;
  padding-left: 5%;
  padding-right: 5%;
}
@media (max-width: 992px) {
  .title_section .title_container .left_wrapper {
    margin-left: 0;
  }
}
.title_section .title_container .left_wrapper .title_text {
  text-transform: uppercase;
}
.title_section .title_container .left_wrapper .title_discription {
  margin-top: 16px;
}
.title_section .title_container .left_wrapper .title_buttons {
  margin-top: 56px;
  margin-bottom: 250px;
}
@media (max-width: 768px) {
  .title_section .title_container .left_wrapper .title_buttons {
    display: flex;
    flex-direction: column;
  }
}
.title_section .title_container .left_wrapper .title_buttons .button_one {
  margin-bottom: 25px;
}
.title_section .right_wrapper {
  position: relative;
  right: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .title_section .right_wrapper {
    display: none;
  }
}
.title_section .right_wrapper img {
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 0%;
     object-position: 0% 0%;
  bottom: 0;
}
@media (max-width: 768px) {
  .title_section .right_wrapper img {
    opacity: 10%;
  }
}

@media (max-width: 768px) {
  .title_container::before {
    content: "";
    background: url(/img/IMAGE.svg);
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
.advantage_items_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 97px;
  grid-row-gap: 75px;
}
@media (max-width: 992px) {
  .advantage_items_wrapper {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 75px;
  }
}
@media (max-width: 576px) {
  .advantage_items_wrapper {
    grid-template-columns: 1fr;
  }
}
.advantage_items_wrapper .advantage_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.started_wrapper .started_wrapper_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.started_wrapper .started_disc {
  display: flex;
}
@media (max-width: 768px) {
  .started_wrapper .started_disc {
    flex-direction: column;
  }
}
.started_wrapper .started_disc .started_wrapper_left {
  width: 60%;
}
@media (max-width: 1230px) {
  .started_wrapper .started_disc .started_wrapper_left {
    width: 100%;
  }
}
.started_wrapper .started_disc .started_wrapper_left * {
  display: flex;
  justify-content: flex-end;
}
.started_wrapper .started_disc .started_wrapper_left img {
  display: flex;
}
@media (max-width: 1230px) {
  .started_wrapper .started_disc .started_wrapper_left img {
    display: none;
  }
}
.started_wrapper .started_disc .started_wrapper_left .started_wrapper_left_text {
  padding: 0 60px 60px 0;
  width: 60%;
}
@media (max-width: 1230px) {
  .started_wrapper .started_disc .started_wrapper_left .started_wrapper_left_text {
    width: 100%;
  }
}
.started_wrapper .started_disc .started_wrapper_right {
  width: 40%;
}
@media (max-width: 1230px) {
  .started_wrapper .started_disc .started_wrapper_right {
    width: 100%;
  }
}
.started_wrapper .started_disc .started_wrapper_right * {
  display: flex;
}
.started_wrapper .started_disc .started_wrapper_right img {
  display: flex;
}
@media (max-width: 1230px) {
  .started_wrapper .started_disc .started_wrapper_right img {
    display: none;
  }
}
.started_wrapper .started_disc .started_wrapper_right .started_wrapper_right_text {
  padding: 60px 0 0 60px;
}

.portfolio_project_wrapper .project_wrapper {
  display: flex;
  margin-bottom: 125px;
}
@media (max-width: 992px) {
  .portfolio_project_wrapper .project_wrapper {
    flex-direction: column;
  }
}
.portfolio_project_wrapper .project_wrapper .data {
  text-transform: uppercase;
  width: 40%;
}
@media (max-width: 768px) {
  .portfolio_project_wrapper .project_wrapper .data {
    width: 100%;
  }
}

.have_project_wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  min-height: 662px;
  position: relative;
}
@media (max-width: 576px) {
  .have_project_wrapper {
    margin-left: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.have_project_wrapper h2 {
  text-transform: uppercase;
}
.have_project_wrapper .have_project_left_wrapper {
  width: 30%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}
@media (max-width: 576px) {
  .have_project_wrapper .have_project_left_wrapper {
    width: 100%;
  }
  .have_project_wrapper .have_project_left_wrapper h2 {
    text-align: center;
  }
}
.have_project_wrapper .have_project_right_wrapper {
  position: relative;
  right: 0;
  width: 50%;
}
@media (max-width: 576px) {
  .have_project_wrapper .have_project_right_wrapper {
    display: none;
  }
}
.have_project_wrapper .have_project_right_wrapper img {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 50%;
     object-position: 0% 50%;
}

@media (max-width: 576px) {
  .have_project_wrapper::before {
    content: "";
    background: url(/img/have_project.svg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }
}
.step_wrapper .text_step_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .step_wrapper .text_step_wrapper {
    flex-direction: column;
  }
}
.step_wrapper .text_step_wrapper h2 {
  width: 50%;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .step_wrapper .text_step_wrapper h2 {
    width: 100%;
  }
}
.step_wrapper .text_step_wrapper p {
  width: 37%;
}
@media (max-width: 992px) {
  .step_wrapper .text_step_wrapper p {
    width: 100%;
  }
}
.step_wrapper .step_process_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 72px;
}
.step_wrapper .step_process_wrapper .step_item {
  width: 25%;
}
@media (max-width: 768px) {
  .step_wrapper .step_process_wrapper .step_item {
    text-align: center;
    width: 100%;
    margin-bottom: 80px;
  }
}
.step_wrapper .step_process_wrapper .step_item h5 {
  margin: 23px 0 13px;
}
.step_wrapper .step_buttons_wrapper {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 576px) {
  .step_wrapper .step_buttons_wrapper {
    flex-direction: column;
  }
}
.step_wrapper .step_buttons_wrapper .button_one {
  margin-bottom: 25px;
}

.art_res_wrapper .art_res_items_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 88px;
  grid-auto-columns: 1fr;
}
@media (max-width: 768px) {
  .art_res_wrapper .art_res_items_wrapper {
    grid-template-columns: 1fr;
  }
}
.art_res_wrapper .art_res_items_wrapper .art_res_item * {
  margin-bottom: 20px;
}
.art_res_wrapper .art_res_items_wrapper .art_res_item * img {
  width: 100%;
}

.work_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 182px 0;
}
@media (max-width: 768px) {
  .work_wrapper {
    flex-direction: column;
    text-align: center;
  }
}
.work_wrapper .work_text_left {
  width: 30%;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 0.05em;
}
@media (max-width: 768px) {
  .work_wrapper .work_text_left {
    width: 100%;
    margin-bottom: 25px;
  }
}
@media (max-width: 576px) {
  .work_wrapper .work_text_right * {
    font-size: 22px;
  }
}

footer {
  padding-top: 180px;
}
footer ul {
  margin-right: 38px;
  text-transform: uppercase;
}
footer li {
  margin-bottom: 21px;
  text-transform: uppercase;
  color: #555671;
  font-weight: 700;
  letter-spacing: 0.04em;
}
footer .footer_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 182px;
}
@media (max-width: 768px) {
  footer .footer_wrapper {
    justify-content: none;
    flex-direction: column;
  }
}
footer .footer_wrapper .footer_left_wrapper {
  width: 30%;
}
@media (max-width: 768px) {
  footer .footer_wrapper .footer_left_wrapper {
    width: 100%;
    margin-bottom: 24px;
  }
}
footer .footer_wrapper .footer_right_wrapper {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  footer .footer_wrapper .footer_right_wrapper {
    justify-content: none;
    flex-direction: column;
  }
}
footer .footer_wrapper .footer_right_wrapper .footer_name_collumn {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 900;
}
footer .footer_wrapper .footer_right_wrapper .footer_collumn_items {
  display: flex;
}
@media (max-width: 768px) {
  footer .footer_wrapper .footer_right_wrapper .footer_collumn_items {
    flex-direction: column;
    margin-bottom: 24px;
  }
}
footer .footer_contant_wrapper {
  width: 100%;
  height: 100px;
  background: #f0efec;
}/*# sourceMappingURL=style.css.map */