html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, p {
  display: inline-block;
}

*, :after, :before {
  box-sizing: border-box;
}

@font-face {
  font-family: "Urbanist";
  src: url("../font/Urbanist-Medium.ttf");
}
h1, h2, h3, h4, h5, h6, p {
  font-family: "Urbanist";
}

h1 {
  line-height: 73px;
}

p {
  line-height: 30px;
}

.container {
  max-width: 1220px;
  margin: auto;
}

section {
  border-bottom: solid 1px #DAD9D6;
  margin-bottom: 250px;
}

.text_title {
  text-transform: uppercase;
  width: 50%;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 40px;
  line-height: 58px;
}

h5 {
  font-size: 28px;
}

p {
  font-size: 18px;
}

.buttons_m {
  padding: 18px 56px;
  background-color: #FF7549;
  font-size: 20px;
  font-family: "Urbanist";
  text-transform: uppercase;
}

.img_test {
  width: 100%;
}

header {
  height: 120px;
  background-color: bisque;
  border-bottom: 1px solid #DAD9D6;
}

.title_section {
  display: flex;
}
.title_section .title_container {
  width: 100%;
  display: flex;
}
.title_section .title_container .left_wrapper {
  width: 65%;
  margin-left: 10%;
  margin-top: 235px;
}
.title_section .title_container .left_wrapper .title_text {
  text-transform: uppercase;
}
.title_section .title_container .left_wrapper .title_discription {
  margin-top: 16px;
}
.title_section .title_container .left_wrapper .title_buttons {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 250px;
}
.title_section .right_wrapper {
  display: flex;
  width: 50%;
  max-height: 100%;
}

.triangle2-top-left {
  width: 10px;
  height: 10px;
  border-top-right-radius: 30%;
}

.advantage_section {
  margin-bottom: 80px;
}
.advantage_section .advantage_text_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advantage_section .advantage_text_wrapper .advantage_title_text {
  width: 50%;
  text-transform: uppercase;
}

.advantage_items_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.advantage_items_wrapper .advantage_item {
  padding-right: 5%;
  padding-bottom: 70px;
  width: 33.33%;
}
.advantage_items_wrapper .advantage_item .advantage_item_text {
  padding: 23px 0 13px;
}

.started_wrapper .started_wrapper_text {
  display: flex;
  justify-content: space-between;
}
.started_wrapper .started_disc {
  display: flex;
}
.started_wrapper .started_disc .started_wrapper_left {
  width: 40%;
}
.started_wrapper .started_disc .started_wrapper_center {
  width: 20%;
}
.started_wrapper .started_disc .started_wrapper_right {
  width: 40%;
}/*# sourceMappingURL=style.css.map */