@import "reset.scss";
@import "default.scss";

header {
  height: 120px;
  // border-bottom: 1px solid $clrBorder;
  .header_wrapper {
    display: flex;
    justify-content: space-between;
    .left_header {
      padding-top: 2.5%;
    }
  }
}

.title_ {
  padding: 0;
}

.title_section {
  display: flex;
  @include breakpoint (md) {
    position: relative;
  }

  .title_container {
    width: 100%;
    display: flex;

    .left_wrapper {
      width: 100%;
      margin-left: 10%;
      margin-top: 235px;
      padding-left: 5%;
      padding-right: 5%;
      @include breakpoint (lg) {
        margin-left: 0;
      }

      .title_text {
        text-transform: uppercase;
      }

      .title_discription {
        margin-top: 16px;
      }

      .title_buttons {
        margin-top: 56px;
        margin-bottom: 250px;
        @include breakpoint (md) {
          display: flex;
          flex-direction: column;
        }
        .button_one {
          margin-bottom: 25px;
        }
      }
    }
  }

  .right_wrapper {
    position: relative;
    right: 0;
    width: 100%;
    @include breakpoint(md) {
      display: none;
    }
    img {
      left: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0% 0%;
      bottom: 0;
      @include breakpoint(md) {
        opacity: 10%;

      }
    }
  }
}

@include breakpoint (md) {
  .title_container::before{
    content: "";
    background: url(/img/IMAGE.svg);
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
}

  .advantage_items_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 97px;
    grid-row-gap: 75px;
    @include breakpoint(lg) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 60px;
      grid-row-gap: 75px;
    }
    @include breakpoint(sm) {
      grid-template-columns: 1fr;
    }
    .advantage_item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }


.started_wrapper {


  .started_wrapper_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }


  .started_disc {
    display: flex;
    @include breakpoint(md) {
      flex-direction: column;
    }

    .started_wrapper_left {
      width: 60%;
      @include breakpoint(xl) {
        width: 100%;
      }
      * {
        display: flex;
        justify-content: flex-end;
      }

      img {
        display: flex;
        @include breakpoint(xl) {
          display: none;
        }
      }
      .started_wrapper_left_text {
        padding: 0 60px 60px 0;
        width: 60%;
        @include breakpoint(xl) {
          width: 100%;
        }
      }
    }
    .started_wrapper_right {
      width: 40%;
      @include breakpoint(xl) {
        width: 100%;
      }
      * {
        display: flex;
      }
      img {
        display: flex;
        @include breakpoint(xl) {
          display: none;
        }
      }
      .started_wrapper_right_text {
        padding: 60px 0 0 60px;
      }
    }
  }
}

.portfolio_project_wrapper {
  .project_wrapper {
    display: flex;
    margin-bottom: 125px;
    @include breakpoint(lg) {
      flex-direction: column;
    }

    .data {
      text-transform: uppercase;
      width: 40%;
      @include breakpoint(md) {
        width: 100%;
      }
    }

  }
}

.have_project_wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  min-height: 662px;
  position: relative;
  @include breakpoint(sm) {
    margin-left: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
  h2 {
    text-transform: uppercase;
  }

  .have_project_left_wrapper {
    width: 30%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    @include breakpoint(sm) {
      width: 100%;
      h2 {
        text-align: center;
      }
    }
  }

  .have_project_right_wrapper {
    position: relative;
    right: 0;
    width: 50%;
    @include breakpoint(sm){
      display: none;
    }
    img {
      position: absolute;
      left: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0% 50%;
    }
  }
}

@include breakpoint(sm){
.have_project_wrapper::before {
  content: "";
  background: url(/img/have_project.svg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
}
.step_wrapper {
  .text_step_wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    @include breakpoint(lg) {
      flex-direction: column;
    }
    h2 {
      width: 50%;
      text-transform: uppercase;
      @include breakpoint(lg) {
        width: 100%;
      }
    }
    p {
      width: 37%;
      @include breakpoint(lg) {
        width: 100%;
      }
    }
  }
  .step_process_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 72px;

    .step_item {
      width: 25%;
      @include breakpoint (md) {
        text-align: center;
        width: 100%;
        margin-bottom: 80px;
      }
      h5 {
        margin: 23px 0 13px;
      }
    }
  }

  .step_buttons_wrapper {
    display: flex;
    justify-content: space-evenly;
    @include breakpoint(sm) {
      flex-direction: column;
    }

    .button_one {
      margin-bottom: 25px;
    }
  }
}

.art_res_wrapper {
  .art_res_items_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 28px;
    grid-row-gap: 88px;
    grid-auto-columns: 1fr;
    @include breakpoint(md) {
      grid-template-columns: 1fr;
    }

    .art_res_item {
      * {
        img {
          width: 100%;
        }
        margin-bottom: 20px;
      }
    }
  }
}

.work_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 182px 0;
  @include breakpoint (md) {
    flex-direction: column;
    text-align: center;
  }

  .work_text_left {
    width: 30%;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 0.05em;
    @include breakpoint (md) {
      width: 100%;
      margin-bottom: 25px;
    }
  }

  .work_text_right {
    * {@include breakpoint(sm) {
      font-size: 22px;
    }
  }
  }
}

footer {
  padding-top: 180px;
  ul {
    margin-right: 38px;
    text-transform: uppercase;
  }
  li {
    margin-bottom: 21px;
    text-transform: uppercase;
    color: #555671;
    font-weight: 700;
    letter-spacing: 0.04em;
  }
  .footer_wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 182px;
    @include breakpoint (md) {
      justify-content: none;
      flex-direction: column;
    }
    .footer_left_wrapper {
      width: 30%;
      @include breakpoint (md) {
        width: 100%;
        margin-bottom: 24px;
      }
    }
    .footer_right_wrapper {
      width: 70%;
      display: flex;
      justify-content: space-evenly;
      @include breakpoint (md) {
        justify-content: none;
        flex-direction: column;
      }
      .footer_name_collumn {
        margin-bottom: 40px;
        text-transform: uppercase;
        font-weight: 900;
      }
      .footer_collumn_items {
        display: flex;
        @include breakpoint (md) {
          flex-direction: column;
          margin-bottom: 24px;
        }
      }
    }
  }
  .footer_contant_wrapper {
    width: 100%;
    height: 100px;
    background: #f0efec;
  }
}
